[Model]
# Model name which will also be key for architecture selection in model/basenet_configs.py
model_name = bpd

# Downsampling factor - cell size of conf/loc map in pixels
scale = 8

# Size of kernel in classifier and bbox regressor
classifier_regressor_kernel_size = 3

# Number of cells which will be marked as groundtruth in target conf map
delta = 3

# Add channel attention module after every feature extractor's block. No effect for EFC networks
channel_attention_module = no

# Depth of lateral return layers from FPN
fpn_lateral_depth = 32

# Depth of classifier and regressor layers
classifier_regressor_depth = 128

# Maximum number of detections per image
max_detections = 500

# IoU threshold at which NMS algorithm will be triggered
nms_threshold = 0.45

# Confidence threshold at which network will mark detection as true. Should be 0.0 during training and evaluation, only set it for running on videos.
player_threshold = 0.0

# Path to .pth file with model data
#path_to_model = saved_models/bpd.pth

[Training]
# root dir where NCAA Dataset was extracted
dataset_root_dir = /home/tperka/ncaa

# quality of dataset, either HQ or LQ
dataset_quality = LQ

# training batch size
train_batch = 10

# evaluation/test batch size
test_batch = 4

# n of workers for dataloader, higher value might speed up training
dataloader_workers = 6

# initial learning rate
learning_rate = 0.001

# max epochs
epochs = 60

# List of milestones at which learning rate will be reduced by factor of 10
lr_scheduler_milestones = [30, 50]

# output dir for model .pth file AND CSVs with training data (losses and eval stats epoch by epoch)
output_dir = saved_models

